*.exe
*.dll
*.json
*.pyc
__pycache__
data/*
!data/audio
data/audio/*
!data/audio/playlists
!data/audio/playlists/*
!data/dota
!data/dota/*
data/dota/settings.json
!data/trivia
!data/trivia/*
data/trivia/settings.json
lib
start_*.sh
